body {
    background: #b6c3c4;
    width: 100%;
    
    
}
.container {
    width: 100%; 
    background: #93bbd2;
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 20px;
    max-width: 500px;
    border-radius: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}
.location {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
form { 
    border: none; 
    width: 300px; 
    height: 100px;
    background-color: #93bbd2; 
    color: black;
}
.search-button {
    background-color: #023047;
    border-radius: 5px;
    height: 35px;
    color: #fff;
}
::placeholder{
    color:#fff;
    opacity: 0.7;
}
button {
    cursor: pointer;
    background: none;
    border-radius: 5px;
    height: 35px;
    color: black;
    
}
.location-icon {
    font-size: 20px;
    color: black;
    
}
.notification-icon {
    font-size: 20px;
    color: black;
}
.emoji {
    font-size: 100px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    
}
.float-left {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: black;

    /* margin-left: 50px; */
    
}
.temperature {
    margin-right: -10px;
    font-size: 20px;
}
.Precipitation-text {   
    text-align: center;
    color: black;
}

.first-box {
    padding: 10px;
    padding-left: 70px;
    border-radius: 18px;
    background: white;
    display: flex; 
    justify-content: space-around;
    font-size: 20px;

}

span{
    font-size: 15px;
    margin-right: 65px;
}
.row {
    padding: 2px;
    padding-left: 20px;
    background: #023047;
    color: white;
    border-radius: 20px;
    justify-content: space-evenly;
    margin: auto;
    
}

.head {
    padding-left: 0px;
    padding-bottom: 25px;
}

.left-content {
    padding-left: 50px;
}
.left-emoji {
    padding-left: 50px;

}
.last-left {
    padding-left: 50px;
}
br {
    padding-bottom: 70px;
}
.third-box {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #5ea5bf;
    margin-top: 30px;
    border-radius: 20px;
    line-height: 50px;
    color: black;
    font-weight: 500;
}
.second-row {
    margin-top: 40px;
}
.location-button {
    background: #4E6E81;
    padding: 1px 20px;
    display: block;
    margin: 20px auto;

    
    
}

#date {
    font-weight: 700;
    font-size: 15px;
    color: #023047;
    text-align: center;
}
#city-name {
    font-weight: 700;
    color: #023047;
    font-size: 30px;
    line-height: 10px;
    text-align: center;
    
}
.city-temperature {
    line-height: 25px;
}
@media(max-width:575px){
    .container{
        font-size: 12px;
    }
}